.header {
    padding: 60px;
    text-align: center;
     background: hsl(303, 80%, 52%);
     color: white;
    font-size: 30px;
    height: 250px;
}
  
  h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    text-align: center;
    color: blue;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

div img{

    position: relative;
    left: 550px;
    bottom: 200px;
}